<h1>Welcome to Lern, the online machine learning application</h1>

<p>We believe the world's data has enormous potential so solve problems, but that people rarely use it to its full potential. We want to help you use your data, to its full potential</p>

<p> You might use us because</p>
<p>
	<ol>
		<li>You want to understand the relationships between your metrics (e.g., you want to know which of your products sell best together) </li>
		<li>You want to understand what external factor relate to your KPI's (e.g., you want
			to know what impact the weather has on your revenue</li>
		<li>You want to understand your seasonality (e.g., how much more do you sell over Q4 than Q1</li>
	</ol>
</p>

