<h1>Welcome to the Game Centre!</h1>

<p>Choose a game below to get started:</p>

<ul class="games">
	<li>
		<%=link_to image_tag("games/secret-number.jpg"), new_secret_number_path %>
			<h3>Secret Number</h3>
		<%= image_tag("games/rock-paper-scissors.jpg") %>
		<h3>Rock Paper Scissors</h3>
	</li>
</ul>